.project-description {

	display: flex;
	flex-direction: column;
	align-items: center;

}


.banner-img {
	img {
		width: 100%;
		height: 15em;
	}
}


@media only screen and (min-width:680px) {

	.banner-img {
		img {
			height: 25em;
		}
	}
}

@media only screen and (min-width:1200px) {

	.banner-img {
		img {
			height: 30em;
		}
	}
}