
@media only screen and (min-width:1200px) {
	.description-wrapper {
		width: 1100px;
		margin: 1em auto;
	}

}

.project-description {

	display: flex;
	flex-direction: column;
	align-items: center;

}

.page-margin {
	margin-inline: 3em;
	width: auto;
}


.banner-img {
		margin: 0;
		width: 100%;
	img {
		height: 15em;
		width: 100%;
	}
}


@media only screen and (min-width:680px) {

	.banner-img {
		img {
			height: 25em;
		}
	}
}

@media only screen and (min-width:1200px) {

	.banner-img {
		img {
			height: 30em;
		}
	}
}